<ul>
    {% for item in items %}
        <li>
            <a href="?{{ menu }}={{ item.slug }}" class="menu-item">
                {% if selected_item and item.id == selected_item.id %}
                <span class="menu-item-active">{{ item.name }}</span>
                {% else %}
                <span class="menu-item-inactive">{{ item.name }}</span>
                {% endif %}
            </a>
        </li>
        {% if item.child_items %}
            {% include 'menu/menu_list.html' with items=item.child_items %}
        {% endif %}
    {% endfor %}
</ul>